:root {
  --color-grey: rgb(173, 173, 173);
}
* {
  box-sizing: border-box;
}
body {
  width: 100vh;
  background-color: rgb(99 115 138);
}
section {
  margin: 0 auto;
}
h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  display: block;
  height: 2px;
  width: 100px;
  background-color: var(--color-grey);
}
h1::after {
  content: "";
  position: absolute;
  right: 0;
  top: 16px;
  display: block;
  height: 2px;
  width: 100px;
  background-color: var(--color-grey);
}

h1,
p {
  text-align: center;
}
h1 {
  position: relative;
  margin-bottom: 10px;
  font-size: 2em;
  text-transform: capitalize;
}

input {
  padding: 10px 5px;
  border: 1px solid rgb(226 226 227);
  border-radius: 3px;
}
.register-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.register-name input {
  width: 150px;
}

label a {
  color: green;
  text-decoration: none;
}

div + p,
a {
  color: white;
}
p {
  margin: 20px 0;
}
div {
  padding: 20px 30px 30px;
  margin: 0 auto;
  width: 400px;
  min-width: 200px;
  background-color: rgb(242 243 247);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
}
.submit {
  margin-top: 10px;
  font-size: 1em;
  font-weight: 700;
  padding: 10px;
  color: white;
  background-color: #4fa74f;
  border: none;
  border-radius: 3px;
}
.one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.color-grey {
  color: var(--color-grey);
}

.box-shadow:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 2px #8dff99;
}
.Sign-in {
  margin-left: 5px;
}
